{
    email bemontoya@uninorte.edu.co
    # Usar certificados locales de desarrollo
    local_certs
    auto_https disable_redirects
}

# Frontend
http://ui.localhost {
    reverse_proxy ui:3000
}

# Backend principal
http://api.localhost {
    reverse_proxy backend:5000
}

# Cualquier otro subdominio redirige al backend por defecto
http://*.*.localhost {
    reverse_proxy backend:5000
}
